<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="SatelliteWallpaperUpdater.Installer" Name="Satellite Wallpaper Updater" Manufacturer="Jordan Tholen" Version="0.1.0.0">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="AppDirComponents">
      <ComponentGroupRef Id="AppDirComponents" />
    </Feature>
  </Package>
</Wix>
